{% if form.errors %}
    <p><strong>{{ form.errors }}</strong></p>
{% endif %}

<form action="{% url 'testApp:product_create' %}" method="post">
    {% csrf_token %}
    <div class="input-filed">
        <label for="name">Name</label>
        <input type="text" name="name">
    </div>

    <div class="input-filed">
        <div class="new-product-tags"></div>
        <label for="tags">Tags</label>
        <input id="tag-text" type="text">
        <input type="button" value="Add Tag" onclick="add_tag()">
    </div>

    <input id="product-tags" type="hidden" name="tags">


    <input type="submit" value="Create Product" />
</form>


{#TODO: create header, footer and move scripts#}
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="/static/js/site.js"></script>
<script type="text/javascript">
        $('#tag-text').autocomplete({
        source: function(request, response){
            var tag_name = $('#tag-text').val().replace(" ","-");
            ajaxGet(
                "{% url 'testApp:tag_search' %}?tag_name="+tag_name,
                function () {
                },
                function (data) {
                    response(data);
                }
            );
        }
    });


    function add_tag(){
        var tag_name = $('#tag-text').val().replace(" ","-");

        if(tag_name == ''){
            alert("Tag can't be empty");
            return;
        }

        $('#product-tags').val($('#product-tags').val()+tag_name+";");
        $('.new-product-tags').html($('.new-product-tags').html()+tag_name+', ');
        $('#tag-text').val('');
    }
</script>