{% if products %}
    List of Products
    <ul>
    {% for product in products %}
        <li><a href="{% url 'testApp:product_view' product.id %}">{{ product.name }}</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'testApp:product_create' %}">Create New Product</a>
{% else %}
    <p>Create your first product.</p>
    <a href="{% url 'testApp:product_create' %}">Create New Product</a>
{% endif %}